.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-around;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.element-container {
    padding: 50px;
    display: grid;
    grid-template-rows: 20% 80%;
    row-gap: 20px;
    text-align: center;
}

.list-element{
    display:flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

p {
    padding-top: 100px;
    font-size: 40px;
}

@media only screen and (max-width: 900px) {
    .list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        font-size: 15px;
      }

      .element-container {
        padding: 20px;
    }

  }

  @media only screen and (max-width: 300px) {
    .planet-title{
        font-size: 30px;
    }

  }


