<div class="list-container">
  <p class="planet-title">A Planet's Must Do!</p>
  <ul class="list">
    <li class="element-container">
      <span class="material-symbols-outlined list-element"> auto_awesome </span>
      It must orbit a star (in our cosmic neighborhood, the Sun).
    </li>
    <li class="element-container">
      <span class="material-symbols-outlined list-element">width</span>
      It must be big enough to have enough gravity to force it into a spherical
      shape.
    </li>
    <li class="element-container">
      <span class="material-symbols-outlined list-element"> light_mode </span>
      It must be big enough that its gravity cleared away any other objects of a
      similar size near its orbit around the Sun.
    </li>
  </ul>
</div>
