h1 {
  font-family: "Syncopate", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 50px;
  line-height: 1.2;
}


@media only screen and (max-width: 300px) {
    h1 {
        font-size: 40px;
        line-height: 1.2;
      }
}
