img{
    max-width:100%;
    max-height:100%;
}

.planet-image{
    display: flex;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: 300px) {
    img{
        max-width:200px;
        max-height:200px;
    }
}